<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIRST</title>
<style>
    body{ background-color:#cccccc;}
    h1 {color:blue; text-align: center;}
    p1 {color:red;}
    div {
        text-align: center;
        padding: 20px;
}
</style>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">

            </div>
        </nav>
    </header>
    <h1> WELCOME TO MY INNOVATION LOGIN </h1>
    <div>
        {% block content %} {% endblock %}
    </div>
</body>
</html>

